.forecast-wrap{
  list-style: none;
  display: flex;
  padding-left: 0;
}

.forecast-wrap li{
  flex: 1;
  padding: 0.3rem;
  text-align: center;
  border: 1px solid #e3e3e3;
}
.forecast-wrap li ~ li{
  border-left: 0;
}

.forecast-wrap .date{
  font-size: 0.8rem;
  font-weight: 700;
  color: #888888;
}

.forecast-wrap img{
  width: 2.5rem;
  height: 2.5rem;
}

.forecast-wrap .temp{
  color: #176ecb;
}

.forecast-wrap .description{
  font-size: 0.8rem;
}
