.app{
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #c7e5f8;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
